* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar::before {
  content: "";
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* opacity: 1; */
}
.nav-logo {
  padding-left: 1rem;
  color: rgb(162, 162, 6);
}
.navbar-button {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
  margin-right: 3rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.navbar-button a {
  text-decoration: none;
  background-color: rgb(162, 162, 6);
  color: black;
  border: none;
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
}
.navbar-button button {
  background-color: rgb(162, 162, 6);
  color: black;
  border: none;
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
  font-weight: bold;
}

.main-page {
  padding-top: 7rem;
  padding-left: 2rem;
  align-items: flex-start;
  min-height: calc(100vh - 46px);
}

.main-page::before {
  position: absolute;
  content: "";
  background: url("https://github.com/user-attachments/assets/500e84b7-df51-4017-88db-14bd5b3498ec")
    no-repeat center center/cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.9;
}

.main-page-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  color: rgb(162, 162, 6);
  background-color: rgb(41, 41, 41);
  width: 450px;
  border-radius: 34px;
}

.main-page-content h1 {
  padding-bottom: 1rem;
  text-align: center;
}
.main-page-form form {
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.main-page-form form input {
  padding-left: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 60%;
  border-radius: 15px;
  border: none;
}
.main-page-form input[type="submit"] {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  margin: auto;
  padding: 0.3rem;
  width: 50%;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background-color: rgb(162, 162, 6);
  color: black;
  font-weight: bold;
}

.main-page-form input[type="submit"]:hover {
  color: rgb(162, 162, 6);
  background-color: black;
  font-weight: bold;
}

@media only screen and (max-width: 508px) {
  .main-page-content {
    width: 326px;
    margin: auto;
    padding-left: 0rem;
  }
}
